extends ../templates/startpage.pug
block content
    
    main.container
      article.grid
        div
          hgroup
            h1 Laggar ut
        div

block scripts 
    script(src="/scripts/logout.js")