extends ../templates/main.pug
block content
    main.container
        article#article
            figure
                h2 Domare i Sverige
                table#refereetable   
                    thead
                        tr 
                            th Namn 
                            th Licens 
                            th Zon
                            th Klubb
                    tbody
                        tr 
                            td Rickard Nisses-Gagnér
                            td N 
                            td Södra 
                            td Ängelholms Judoklubb
block scripts