extends ../templates/main.pug
block content
    main.container
        article#article
            img(src='images/user.svg' style='float:left;height: 64px;')
            div(style='float: left; width:90%')
                input#post(type='text' name='post' placeholder='Vad händer')
            div
                div(style='clear:both;float: left; width: 80%')
                div(style='float: left;width: 20%')
                    button.contrast(data-target='modal-example' onclick='post()') Posta
                div(style='clear:both;')
            h2 Feed
            div
                div Mr poster...
            p Webplatsen &auml;r under utveckling och INTE sanktionerad av Riksidrottsf&ouml;rbundet. F&ouml;r tillf&auml;llet &auml;r detta bara ett enkelt experiment f&ouml;r att testa en social platform som kan anv&auml;ndas f&ouml;r att fr&auml;mja v&aring;rt sammarbete i idrottssverige.
            p 
                | F&ouml;r samarbete i utvecklingsarbetet titta p&aring; projektet i 
                a(hef='https://github.com/Riniga/tillsammans') Github
            footer
                small
                    | Vill du hj&auml;lpa till? Kontakta mig: 
                    a(hef='mailto:rickard@nisses-gagner.se') rickard@nisses-gagner.se

