extends ../templates/main.pug
block content
    header.container
        hgroup
            h1 Tillsammans - för domare
            h2
                | Är en del av tillsammans som fokuserar på er som domare
                br
                | Tillsammans är en platform för att stärka gruppens kultur och sammanhållning samt effektivisera den interna kommunikationen.
    main.container
        article#article
            h2 Under utveckling
            p Webplatsen &auml;r under utveckling och INTE sanktionerad av Riksidrottsf&ouml;rbundet eller av Svenska Judoförbundet. F&ouml;r tillf&auml;llet &auml;r detta bara ett enkelt experiment f&ouml;r att testa en social platform som kan anv&auml;ndas f&ouml;r att fr&auml;mja v&aring;rt sammarbete i idrottssverige.
            p F&ouml;r deltagande i utvecklingsarbetet titta p&aring; projektet i 
            a(hef='https://github.com/Riniga/tillsammans') Github
            footer 
                small
                    | Vill du hj&auml;lpa till? Kontakta mig: 
                    a(hef='mailto:rickard.nisses-gagner@judo.se') rickard.nisses-gagner@judo.se