extends ../templates/startpage.pug
block content
    h2.cover-heading Cosmos Db interactions with Azure Function


    button#createnewmenu Create New Menu
    
    
block scripts 
    script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js")
    script(src="/scripts/cosmosfunctions.js")