extends ../templates/main.pug
block content
    main.container
        article#article
            nav(role='tab-control')
                ul
                    li
                        label(for='info') Personuppgifter
                    li
                        label(for='tavlingar') Mina tävlingar
                    li
                        label(for='domare') Domare
                    li
                        label(for='karriarguide') Karriärguide
            div(role='tabs')
                section#PersonalInformationTab
                    input#info(hidden='hidden' type='radio' name='tabs' checked='checked')
                    figure
                        h2 Dina personuppgifter
                        label Namn
                            input#name(type="text" value="Rickard Nisses-Gagnér" readonly)
                        label Personnummer
                            input#personnumber(type="text" value="730411-xxxx" readonly)
                        label Adress
                            input#adress(type="text" value="Slipersgatan 13")
                        label Postnummer
                            input#postalcode(type="text" value="254 70")
                        label Ort
                            input#city(type="text" value="KATTARP")

                        label Telefon (primär)
                            input#primaryphone(type="text" value="072-71 55 980")

                        label Telefon (sekundär)
                            input#secondaryphone(type="text" value="")

                        label Mailadress
                            input#email(type="text" value="rickard@nisses-gagner.se")

                        label Klubb
                            input#club(type="text" value="Ängelholms Judoklubb")

                        label Zon
                            input#zone(type="text" value="Södra zonen" readonly)

                    input#domare(hidden='hidden' type='radio' name='tabs')
                    figure
                        h2 Domare i Sverige
                        table#refereetable   
                            thead
                                tr 
                                    th Namn 
                                    th Licens 
                                    th Zon
                                    th Klubb
                            tbody
                                tr 
                                    td Rickard Nisses-Gagnér
                                    td N 
                                    td Södra 
                                    td Ängelholms Judoklubb



                    input#tavlingar(hidden='hidden' type='radio' name='tabs')
                    figure
                        h2 Tävlingar jag dömt
                        table   
                            tr 
                                td Datum
                                td Tävlingsn namn
                                td Ort
                                td Land
                                td Typ 
                                td poäng
                            tr 
                                td 2023-05-15
                                td Nordiska mästerskapen
                                td Drammen
                                td Norge
                                td NM
                                td 1

                    input#karriarguide(hidden='hidden' type='radio' name='tabs')
                    figure
                        div(role='tabs')
                            section
                                //- input#tab_DU(hidden='hidden' type='radio' name='tabs' checked='checked')
                                //- figure
                                div
                                    h2 Om du saknar licens 
                                    ul 
                                        li Gå en regelkurs, du blir då erhåller då en aspirant-licens
                                    hr
                                div
                                    h2 Om du har en aspirant-licens
                                    ul 
                                        li Döm 10 tävlingar 
                                        li Zondomaransvarig tilldelar dig en D-licens eller en DU-licens( om du är under 18) vid tillfälle
                                    hr
                                div
                                    h2 Om du har en DU licens och fyller 18
                                    ul 
                                        li Zondomaransvarig tilldelar dig en D-licens vid tillfälle
                                    hr
                                div
                                    h2 Du är registrerad med licens: D-Licens
                                    ul 
                                        li Gå en en N-Licens kurs och godkänt resultat på det teoretiska provet.
                                        li Döm 30 tävlingar 
                                        li Anmäl dig till ett praktiskt N-Licens test
                                        li Vid godkänt praktiskt N-licens test erhålls N-licensen av examinator(er)
                                    hr
                                div
                                    h2 Om du har en N-Licens
                                    p Nästa licens för dig är Elit-Licens
                                    ul 
                                        li Döm 50 tävlingar 
                                        li Anmäl dig till ett praktiskt Elit-Licens test
                                        li Vid godkänt praktiskt N-licens test erhålls N-licensen av examinator(er)                                                                    
                            
                            
