extends ../templates/main.pug
block content
    main.container
        article
            nav(role='tab-control')
                ul
                    li
                        label(for='aktuella') Aktuella tävlingar
                    li
                        label(for='antagna') Tävlingar du ska döma
                    li
                        label(for='history') Tävlingar jag dömt
                    li
            div(role='tabs')
                section
                    input#aktuella(hidden='hidden' type='radio' name='tabs' checked='checked')
                    figure
                        h3 Aktuella tävlingar
                        p ->Under utveckling - fungerar inte, ännu...<-
                        table   
                            tr 
                                td Datum
                                td Tävlingsn namn
                                td Ort
                                td Land
                                td Typ 
                                td poäng
                            tr 
                                td 2023-05-15
                                td Nordiska mästerskapen
                                td Drammen
                                td Norge
                                td NM
                                td 1
                    input#antagna(hidden='hidden' type='radio' name='tabs')
                    figure
                        h3 Tävlingar du skall döma
                        p ->Under utveckling - fungerar inte, ännu...<-
                        table   
                            tr 
                                td Datum
                                td Tävlingsn namn
                                td Ort
                                td Land
                                td Typ 
                                td poäng
                            tr 
                                td 2023-05-15
                                td Nordiska mästerskapen
                                td Drammen
                                td Norge
                                td NM
                                td 1
                    input#history(hidden='hidden' type='radio' name='tabs')
                    figure
                        h3 Tävlingar du har döma
                        p ->Under utveckling - fungerar inte, ännu...<-
                        table   
                            tr 
                                td Datum
                                td Tävlingsn namn
                                td Ort
                                td Land
                                td Typ 
                                td poäng
                            tr 
                                td 2023-05-15
                                td Nordiska mästerskapen
                                td Drammen
                                td Norge
                                td NM
                                td 1