
doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='Rickard Nisses-Gagnér')
    title Azure Website Stack Template
  
    link(rel='stylesheet' type='text/css' href='http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
    link(rel='stylesheet' href='https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css' type='text/css')

    link(rel='stylesheet' href='/styles/style.css' type='text/css')

body
    div#ajaxLoader Loading&#8230;
    include ../blocks/navbar.pug
    .container-fluid
      .row
        include ../blocks/sidebar.pug
        main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
          block content
    include ../blocks/login_modal.pug
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js' crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.7.2/bluebird.min.js")
    script(type='text/javascript' src='http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js')
    script(src="https://alcdn.msauth.net/browser/2.11.1/js/msal-browser.js")
    script(src="/scripts/configuration.js")
    script(src="/scripts/startup.js")
    script(src="/scripts/azuremenu.js")
    script(src="/scripts/azurelogin.js")
    script(src="/scripts/formlogin.js")
    block scripts
    
    