body
{
        font-family: proxima-nova,Arial,Helvetica,sans-serif;
}
nav 
{
    background-color: white;
    border-bottom: 1px solid lightgrey;
    height: 94px;
    padding-right: 16px;
    padding-left: 16px;
    
}
nav h1
{
    margin-bottom: 0px;
    font-family: Brush Script MT;
    font-size: 3em;
    font-weight: lighter;
}
.headerlogo
{
    height: 64px;
}

body > header
{
    padding: 0px;
    font-size: 0.5em;;
}

body > main
{
    padding: 0px;
    padding-bottom: 100px;
}

body > footer
{
    padding: 0px;
}

footer{
    /* position: fixed; */
    bottom:0;
    /* height: 10px; */
    padding: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid lightgrey;
}

#failedlogin
{
    color: red;
    visibility: hidden
}
#logout
{
    /* visibility: collapse; */
}

.avatar 
{
    width: 200px;
    font-size: 10px;
}

#logout img
{
    float: left;
    height: 64px;
}
