#loginModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        .form-title
          h4 Login
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        include ../blocks/login.pug
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close