dialog#modal-signin
  article
    a.close(href='#close' aria-label='Close' data-target='modal-signin' onclick='toggleModal(event)')
    h2 Logga in
    p
      |  Kontakta Rickard för att erhålla dina inloggningsuppgifter
    section#loginform
      form(name="loginForm" target="#here" method="post" )
        input#username(type='text' name='text' placeholder='Användarnamn')
        input#password(type='password' name='password' placeholder='Lösenord')
        label#failedlogin Felaktigt anv&auml;ndarnamn eller l&ouml;senord
        a.secondary(href='#reset' role='link' data-target='modal-resetpassword' onclick='toggleModal(event)') Återställ lösenord

    footer
      a.secondary(href='#cancel' role='button' data-target='modal-signin' onclick='toggleModal(event)') Avbryt
      a(href='#confirm' role='button' data-target='modal-example' onclick='signIn()') Logga in
