nav.topnavigation(data-theme='light')
  ul
    li
      span
        a(href="/")
          img.logo(src='/images/Logotype_Svensk-Judo_RGB.png' alt='Logotyp')
  ul
    li
      h1 tillsammans -
        i för judodomare
  ul#login
    li
      button.contrast(data-target='modal-signin' onclick='toggleModal(event)') Logga in
  ul#logout
    li
      .loggedinuser
        div.profileimage
          a(href='start.html')
            img#userGravatar(src='images/user.svg')
        div.profileinformation
          span#userFirstName Name
          br
          | (
          a(href='#' onclick='signOut()') logga ut
          | )
nav.topmenu
  ul 
    li 
      a(href="#") Start
    li 
      a(href="#") Personuppgifter
    li 
      a(href="#") Domare 
    li 
      a(href="#") Tävlingar 
    li 
      a(href="#") Forum 
    li 
      a(href="#") Karriärguiden
    li 
      a(href="#") Feedback 
    li 
      a(href="#") Admin 
    

