dialog#modal-resetpassword
  article
    a.close(href='#close' aria-label='Close' data-target='modal-signin' onclick='toggleModal(event)')
    h2 Återställ lösenord
    section
      form#resetpasswordform
        p Ange din epostadress för att återställa ditt lösenord
        input#username(type='text' name='text' placeholder='Epostaddress')
      label#emailsent(style="visibility: hidden") Du har nu fått ett mail för att ange nytt lösenord
    footer
      a.secondary(href='#cancel' role='button' data-target='modal-resetpassword' onclick='toggleModal(event)') Avbryt
      a#sendbutton(href='#send' role='button' onclick='resetPassword()') Skicka
