dialog#modal-setpassword
  article
    a.close(href='#close' aria-label='Close' data-target='modal-signin' onclick='toggleModal(event)')
    h2 Ange nytt lösenord
    section#setpasswordform
      form(name="loginForm" target="#here" method="post" )
        input#password1(type='password' name='text' )
        input#password2(type='password' name='password' )
        label#passwordMissmatch Lösenorden stämmer inte överens
    footer
      a.secondary(href='#cancel' role='button' data-target='modal-signin' onclick='toggleModal(event)') Avbryt
      a(href='#confirm' role='button' data-target='modal-example' onclick='setpassword()') OK
