nav.col-md-2.d-none.d-md-block.bg-light.sidebar
    .sidebar-sticky
        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            span Main menu
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span Main menu
            ul.nav.flex-column
              li.nav-item
                a.nav-link.active(href='/')
                  span(data-feather='home')
                  |                   Start 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/inkasso/persons.html')
                  span(data-feather='file')
                  | Inkasso
              li.nav-item
                a.nav-link(href='/images.html')
                  span(data-feather='file')
                  |                   Azure Function Images
              li.nav-item
                a.nav-link(href='/from_storage.html')
                  span(data-feather='shopping-cart')
                  |                   Azure Storage Images
              li.nav-item
                a.nav-link(href='/menu.html')
                  span(data-feather='users')
                  |                   Menu
              li.nav-item
                a.nav-link(href='/serviceworker.html')
                  span(data-feather='bar-chart-2')
                  |                   Service Worker
              li.nav-item
                a.nav-link(href='/workout.html')
                  span(data-feather='layers')
                  |                   Workout
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span Dynamic Menu
            ul#mainMenu.nav.flex-column