nav.topnavigation(data-theme='light')
  ul
    li
      span
        a(href="/")
          img.logo(src='/images/Logotype_Svensk-Judo_RGB.png' alt='Logotyp')
  ul
    li
      h1 JudoTech -
        i Domare
  ul#login
    li
      button.contrast(data-target='modal-signin' onclick='toggleModal(event)') Logga in
  ul#logout
    li
      .loggedinuser
        div.profileimage
          a(href='profile.html')
            img#userGravatar(src='images/user.svg')
        div.profileinformation
          span#userFirstName Name
          br
          | (
          a(href='#' onclick='signOut()') logga ut
          | )
nav#mainMenu.topmenu
  ul 
    li 
      a(href="/index.html") Hem
    li 
      a(href="/referees.html") Domare 
    li 
      a(href="/tavlingar.html") Tävlingar 
    li 
      a(href="#" style="color: gray") Forum 
    li 
      a(href="/karriar.html") Karriärguiden
    li 
      a(href="#" style="color: gray") Feedback 